<%- include("../../views/partials/user/header") %>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop eCommerce HTML CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <link rel="stylesheet" href="/assets/css/home.css">

</head>
_
<body>
 


    <!-- Header -->
    

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



   <!-- Start Banner Hero -->
   <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- Set the outer container to be full-width -->
            <div class="container-fluid p-0">
                <div class="row p-0">
                    <div class="col-12">
                       

                                <div class="item" style="--position: 3"><img src="/images/imagesf.jpg" alt=""></div>
                                <div class="item" style="--position: 4"><img src="/images/imagesl.jpg" alt=""></div>
                                <div class="item" style="--position: 5"><img src="/images/8988a42a0682e6c131395b8834469df7.jpg" alt=""></div>
                                <div class="item" style="--position: 6"><img src="/images/GettyImages-2152791473.jpg.webp" alt=""></div>
                                <div class="item" style="--position: 7"><img src="/images/imagescasado.jpg" alt=""></div>
                                <div class="item" style="--position: 8"><img src="/images/imagesfelix.jpg" alt=""></div>
                                <div class="item" style="--position: 9"><img src="/images/imageslew.jpg" alt=""></div>
                                <div class="item" style="--position: 10"><img src="/images/imagesdej.jpg" alt=""></div>
                            </div>
                            <div class="content">
                                <h1 data-content="BARCA">
                                    Barca
                                </h1>
                                <div class="author">
                                    <h2>visca Barca</h2>
                                    <p><b>visca catalonia</b></p>
                                   
                                </div>
                                <div class="model"></div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Start Categories of The Month -->
    <section  class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
            </div>
        </div>
        <div style="margin-left: 15%;" class="row" style="margin-right: 20px;">
            <% if (categories && categories.length > 0) { %>
                <% categories.forEach(category => { %>
                    <div class="col-md-4 col-sm-6 p-5 mt-3" style="width: 25%; margin-right: 40px;">
                        <div class="category__item">
                            <a href="/shop?maxPrice=10000&categories=<%= category._id %>" class="category__item__pic">
                                <% if (category.image) { %>
                                    <img src="<%= category.image %>" class="rounded-circle img-fluid border" alt="<%= category.name %>">
                                <% } else { %>
                                    <img src="/assets/img/default-category.jpg" class="rounded-circle img-fluid border" alt="Default Image">
                                <% } %>
                            </a>
                            <div class="category__item__text text-center mt-3">
                                <h5><%= category.name %></h5>
                                
                                <p>
                                    <a href="/shop?maxPrice=10000&categories=<%= category._id %>" class="btn btn-success">Go Shop</a>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p class="text-center">No categories available at the moment.</p>
            <% } %>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    


<%- include("../../views/partials/user/footer") %>

<!-- Start Script -->
<script src="assets/js/jquery-1.11.0.min.js"></script>
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/templatemo.js"></script>
<script src="assets/js/custom.js"></script>
<!-- End Script -->
</body>

</html>



